body {
    background-color: black;
    width: 95%;
    margin: auto;
}

.header {
    background: url('starfield-banner.jpg ');
    position: absolute;
    top: 30px;
    left: 520px;
    width: 95%;
}

.logo-link {
    width: 950px;
    height: 35px;
    font-size: small;
    margin: 0 auto;
}

.header.logo {
    position: fixed;
    width:110px;
    margin:11px;
}
#ditu{
    position: absolute;
    top:15px;
    left:730px;
}
#dikuang{
    background: blue;
    text-align: center;
}
a{
    color: aliceblue;
    padding: 0 10px;
    border-right:1px solid aliceblue;
}
a:nth-last-of-type(1){border: none}
#yulu{
    position: relative;
    top:-100px;
    left: 100px;
    font-size: 10px;

}
#bottom1{
    font-size: 8px;
    margin-bottom: 40px;
    margin-left: 600px;
}
#feichuan{
    position: absolute;
    top: 475px;
    left: 765px;
}
#ssc{
    width: 23%;
    height:300px;
    position: absolute;
    top:860px;
    left:15px;
}
#pia{
    width: 48%;
    position: absolute;
    top: 860px;
    left: 300px;
}
#nas{
    width: 23%;
    position: absolute;
    top:1200px;
    left: 15px;
}
#io{
    width: 23%;
    position: absolute;
    top: 1200px;
    left: 400px;
}
#cas{
    width: 23%;
    position: absolute;
    top: 1200px;
    left:770px;
}
#fer{
    width: 23%;
    position: absolute;
    top:1200px;
    left: 1127px;
}
#pia21{
    position: absolute;
    top: 140px;
    left:15px;
}
#bot{
    position: absolute;
    top: 1650px;
    left: 0;
}
#photo1 #dawn{
    position: absolute;
    top: 780px;
    left: 0;
    color: aliceblue;
    background: cornflowerblue;
}
#photo1 #dusk{
    position: absolute;
    top: 800px;
    left: 0;
    color: black;
    background: gray;
}
#photo2{
    position: relative;
}
